
.features {
    direction: ltr;
    text-align: left;
}

.nb-footer .footer-single {
    direction: ltr;
    text-align: left;
}

.logob {
    right: 10px;
    position: absolute;
}

.attrs .title {
    text-align: left;
    direction: ltr;
    padding-left: 5px;
}

.field input[type=text], .field textarea, .panel-group button, .upi img, .uupi img {
    float: left;
}

.field .title {
    direction: ltr;
    text-align: left;
}

.panel-group .info {
    text-align: left;
    direction: ltr;
}

.field input[type=text], .field textarea, .panel-group button, .upi img, .uupi img {
    text-align: left;
    direction: ltr;
}

.register, .register-vip, .register-vit, .registeru, .regb, .vipit, .vitit {
    text-align: center !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.panel-group .select {
    float: left;
}

.select .placeholder {
    text-align: left;
    padding-left: 10px;
}

.file input {
    left: 0 !important;
    /* float: left; */
    right: unset;
}

.infob {
    text-align: left !important;
    direction: ltr;
}

.infob .balance {
    margin-left: 10px;
}

.titleb {
    text-align: left;
    direction: ltr;
}

.addb {
    float: left;
    text-align: left;
}

.tovip p, .tovit p {
    text-align: left;
    direction: ltr;
}

.vpl {
    float: left;
    text-align: left;
    margin-left: 10px;
}

.ct {
    /* margin-right: 6px; */
}

.form-radio-styler {
    right: 40px;
    float: left;
}

.dr {
    direction: ltr !important;
}

.upanel .pc .vp p, .upanel .pc .vt p {
    text-align: left !important;
    direction: ltr !important;
}

.upanel .pc .vp button, .upanel .pc .vt button {
    float: left;
    margin: 20px 0px 20px 10px;
}

.panel-default>.panel-heading a:after {
    float: right;
}

.panel-default>.panel-heading a {
    text-align: left;
    direction: ltr;
}

.file label {
    float: left;
}

.card .nav-tabs {
    direction: ltr;
}

.card .nav-item {
    direction: ltr;
}

.nav-tabs>.nav-item>.nav-link i {
    margin-right: 8px;
    margin-left: unset !important;
}

.control {
    float: left;
}

.control__indicator {
    right: unset !important;
    left: -31px;
}

.card-body .search i {
    left: 3px;
    top: 2.8px;
    transform: rotate(75deg);
    font-size: 15.1px;
}

.dropdown-toggle .dropdown-text {
    text-align: left !important;
    padding-left: 20px !important;
}

.select.cdc .placeholder {
    direction: ltr !important;
    text-align: left !important;
    padding-left: 20px !important;
    position: relative;
    margin-left: 10px;
    top: 10px;
}

.dropdown-toggle::after {
    left: -50px !important;
    position: relative;
}

.navbar-nav {
    float: right !important;
    margin: 0 !important;
}

.logo {
    position: relative;
    left: 49px !important;
}

.nav-link i {
    /* left: -5px !important; */
    /* top: 5px !important; */
}


@media only screen and (max-device-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 20px !important;
    }
    .logo {
        position: absolute;
        right: 0 !important;
        left: unset !important;
    }
    .advl .info .ago {
        width: 100% !important;
    }
    .advl .gci, .advl .mark {
        margin-left: 0 !important;
    }
    .advl .mark {
        margin-left: 20px !important;
    }
}

@media only screen and (max-device-width: 768px) {
    .logob {
         right: 40px !important; 
    }
    .feature {
        margin-left: 20px;
    }
    .artif .logreg {
        top: 10px!important;
    }
    .artif .garn, .artif .logreg {
        right: 60px !important;
    }
    .feature p {
        padding-left: 50px;
    }
    .feature-icon {
        float: left;
        margin-right: 10px;
        margin-left: unset !important;
    }
}

.nb-footer .footer-title {
    text-align: left !important;
}

.nav-link i {
    left: -4px !important;
    top: 5px !important;
}

@media only screen and (max-device-width: 991px) {
    .form-radio-styler {
        right: 20px !important;
    }
    .vpl {
        margin-left: 30px !important;
    }
}

.select .placeholder:after {
    right: 1em !important;
    left: unset !important; 
}

.field .upi span {
    float: left;
}

.select .placeholder:after {
    right: 1em !important;
    left: unset !important;
}

.select ul li {
    text-align: left;
    direction: ltr;
}

.syel {
    float: right;
    right: 10px;
    left: unset !important;
}

.dropdown a {
    text-align: left !important;
}

.dropdown-parent .dropdown-link:after {
    left: unset !important;
    right: 20px;
    transform: rotateZ(360deg) !important;
}

.description h2 {
    text-align: left;
    direction: ltr;
}

.ct {
    margin-left: 0 !important;
    margin-right: 6px;
}

.balance {
    font-family: sans-serif !important;
}

.advl .data .field {
    float: left !important;
}

.advl .data .value {
    float: right;
}

.advl .info .ago {
    text-align: left;
    width: 90%;
    direction: ltr;
}

.advl .gci, .advl .mark {
    float: left;
    margin-left: 10%;
    font-size: 12px;
}

.advl .mark {
    margin-left: 20px;
}


.ussp span {
    position: relative !important;
    right: unset !important;
    /* left: -30px !important; */
    top: 9px !important;
    direction: rtl !important;
    float: right !important;
}

.attrs input[type=text], .attrs select {
    text-align: left;
}

input[type=number] {
    text-align: left;
    padding-right: 0 !important; 
}

.blog-card .description h1 {
    text-align: left !important;
    direction: ltr !important;
}

.feature {
    border-left: 5px solid #9e9e9e40;
    border-right: unset !important;
}

.field .upi span, .uupi span {
    float: left !important;
}